.product-variants > .product-variants-item {
    /*margin: 1.25rem 0;*/
    margin: 0.9rem 0;
    font-size:0.9rem;
}
.product-variants > .product-variants-item select {
    border: 1px solid #ebebeb;
    height: 2.5rem;
    /*width: 3.75rem;*/
    max-width: 100%;
    cursor: pointer;
}
.brand-block{
  display: inline-block;
  margin: 0px 10px 0px 10px;
}
li.brand{
  text-align: center;
  display: inline;
}
